#places {
	height: 100vh;
	width: 100vw;
}

#text-places {
	height: 5%;
	width: 100%;
	margin-bottom: 15px;
	text-align: center;
}

#text-places span {
	color: white;
	font-size: 2rem;
	position: relative;
	top: 65%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

#where-to-go {
	height: 15%;
	width: 100%;
	text-align: center;
}

#where-to-go span {
	color: white;
	font-size: 5rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

#places-container {
	height: 70%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#place-one {
	height: 75%;
	width: 23%;
	text-align: center;
	transition: background-color 0.5s;
	position: relative;
}

#hover-place-one {
	height: 100%;
	width:100%;
	position: absolute;	
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 25px;
	opacity: 0;
	transition: opacity 1s ;
	overflow-y: scroll;
}

#image-one {
	height: 100%;
	width: 100%;
	border: 2px solid #ffffffb5;
	border-radius: 25px;
}

#image-one img {
	height: 100%;
	width: 100%;
	border-radius: 25px;
}

#hover-place-one::-webkit-scrollbar {	
    display: none;
}

#hover-place-one h1 {
	font-size: 5rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-bottom: 7%;
	margin-top: 45%;
}

#hover-place-one span {
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

#hover-place-one > * {
	transform: translateY(100px);
	transition: transform 0.8s;
}

#hover-place-one:hover > * {
	transform: translateY(0px);
}

#hover-place-one:hover {
	opacity: 1;
}

#place-two {
	height: 75%;
	width: 23%;
	text-align: center;
	transition: background-color 0.5s;
	position: relative;
}

#hover-place-two {
	height: 100%;
	width:100%;
	position: absolute;	
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 25px;
	opacity: 0;
	transition: opacity 0.5s;
	overflow-y: scroll;
}

#image-two {
	height: 100%;
	width: 100%;
	border: 2px solid #ffffffb5;
	border-radius: 25px;
}

#image-two img {
	height: 100%;
	width: 100%;
	border-radius: 25px;
}

#hover-place-two::-webkit-scrollbar {	
    display: none;
}

#hover-place-two h1 {
	font-size: 5rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-bottom: 7%;
	margin-top: 45%;
}

#hover-place-two span {
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

#hover-place-two > * {
	transform: translateY(100px);
	transition: transform 0.8s;
}

#hover-place-two:hover > * {
	transform: translateY(0px);
}

#hover-place-two:hover {
	opacity: 1;
}

#place-three {
	height: 75%;
	width: 23%;
	text-align: center;
	transition: background-color 0.5s;
	position: relative;
}

#hover-place-three {
	height: 100%;
	width:100%;
	position: absolute;	
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 25px;
	opacity: 0;
	transition: opacity 0.5s;
	overflow-y: scroll;
}

#image-three {
	height: 100%;
	width: 100%;
	border: 2px solid #ffffffb5;
	border-radius: 25px;
}

#image-three img {
	height: 100%;
	width: 100%;
	border-radius: 25px;
}

#hover-place-three::-webkit-scrollbar {	
    display: none;
}

#hover-place-three h1 {
	font-size: 5rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-bottom: 7%;
	margin-top: 45%;
}

#hover-place-three span {
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

#hover-place-three > * {
	transform: translateY(100px);
	transition: transform 0.8s;
}

#hover-place-three:hover > * {
	transform: translateY(0px);
}

#hover-place-three:hover {
	opacity: 1;
}

.social-horizontal-list {
	list-style: none;
	padding: 0px 0px 0px 0px;
	margin: 25px 0px 0px 0px;
	text-align: center;
}

.social-horizontal-list li {
	display: inline-block;
}

.social-horizontal-list li a {
	text-decoration: none;
	color: rgb(0, 0, 0, 0.4);
	font-size: 3rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin: 0px 15px; 
	letter-spacing: 1px;
	word-spacing: -0.5px;
	transition: color 0.5s;
}

.social-horizontal-list li a:hover {
	color: black;
}